@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
    background-color: #fb3122;
}

.vertical-center
{
    height: 100%;
    display: flex;
    align-items: center;
}

/*banner*/

.banner
{
    background-color: #ffffff !important;
    height: 155px;
    margin-bottom: 25px;
}

.logo
{
    height: 155px;
    width: auto;
    align-items: left !important;
    margin-right: 30px;
}

.title
{
    margin-left: 10px;
    font-size: 53px;
    margin: 0;
    left: 40%;
}

/*about*/

.about
{
    background-color: #ffffff !important;
    padding-left: 20px;
}